body {
	background: #3f474d;
	font-family: 'Lato', sans-serif;
	font-size: 16pt;
}
a {
	color: #79bb97;
}
#navbar {
	background-color: rgba(63, 71, 77, 1.0);
	font-family: 'Signika', sans-serif;
	font-size: 20pt;
	position: fixed;
	z-index: 2;
}
#home{
	height:70vh;
}
#apply{
	height:50vh;
	display:flex;
	justify-content:center;
	align-items:center;
}
nav .brand-logo {
	font-size: 2.2em;
}
nav ul a {
	font-size: 13pt;
	color: #f9f7ef;
}
.side-nav {
	background-color: #f9f7ef;
}
.side-nav li > a {
	color: #3f474d;
}
.section {
	padding: 100px 0 80px 0;
	z-index: 1;
}
.rose {
	background: #ffeef2;
	color: #3f474d;
}
.tea {
	background: #79bb97;
	color: #f9f7ef;
}
.paper {
	background: #f9f7ef;
	color: #3f474d;
}
.dark {
	background: #3f474d;
	color: #f9f7ef;
}
.puzzle {
	background-image: url('../img/tesselation.png');
}
.heading {
	font-family: 'Signika', sans-serif;
}
.page-footer {
	padding-top: 0;
	font-size: 12pt;
}
.page-footer .footer-copyright {
	background-color: rgba(63, 71, 77, 1.0);
}
.copyright-text {
	color: rgba(255, 255, 255, 0.5);
}
#logo-icon {
	width: 80px;
	height: auto;
}
#banner {
	width: 300px;
	height: auto;
}
